/*@import '../../node_modules/bourbon/bourbon';*/
body::after {
  clear: both;
  content: "";
  display: block; }

.photo-feed-list {
  width: calc(100%);
  float: left;
  margin-left: 0; }

.feed-item {
  width: calc(25%);
  float: left;
  margin-left: 0; }

.feed-item-img {
  width: 100%; }
