$max-width: 100%;
$tablet: min-width 450px;
$desktop: min-width 769px;

body {
  background: black;
  color: white;
  font-family: sans-serif;
  @include outer-container;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
}

.nasa-logo {
  width: 75px;
  margin: 10px;

  @include media($tablet) {
    width: 150px;
    margin: 20px;
  }
}

h2, p {
  margin: 1em 0;
  line-height: 1.5;
}

h2, button {
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

button {
  padding: 0.75em;
  background: transparent;
  color: rgba(white, 0.75);
  border: 2px solid rgba(white, 0.75);
  transition: all 0.5s ease;
  cursor: pointer;
  width: 100%;

  &:hover, &:focus {
    color: rgba(black,0.5);
    background: rgba(white, 0.75);
    border-color: transparent;
    transition: all 0.5s ease;
  }

  @include media($tablet){
    width: inherit;
  }
}

button[data-sort-dir]:after {
  display: inline-block;
  margin-left: 0.5em;
}

button[data-sort-dir="-1"] {
  &:after {
    content: "\2193";
  }
}

button[data-sort-dir="1"] {

  &:after {
    content: "\2191";
  }
}


.selected-photo-container {
  position: fixed;
  top: 0;
  bottom: 100%;
  z-index: 20;
  background-color: transparent;
  visibility: hidden;
  padding: 2em;
  background-size: cover;
  overflow: auto;
  @include transition(all 0.75s ease-in-out);

  &.active {
    background-color: rgba(black, 0.75);
    left: 0;
    right: 0;
    bottom: 0;
    visibility: visible;
    @include transition(all 0.75s ease-in-out);
  }
}

.selected-photo-close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: initial;
}

.selected-photo-copy {
  margin-top: 80px;
  padding: 2em;
  background:rgba(black, 0.5);
  @include display(flex);
  @include flex-direction(column);
  @include align-items(flex-start);

  @include media($tablet){
    @include flex-direction(row);
  }
}

.selected-photo-img {
  width: 100%;

  @include media($tablet) {
    width: 25%;
  }
}

.photo-feed-list {
  @include display(flex);
  @include flex-flow(row wrap);
}

.feed-item {
  width: 50%;
  overflow: hidden;
  background-position: center center;
  position: relative;

  a {
    @include transition(opacity 0.75s ease);

    &:hover, &:focus {
      opacity: 0;
      @include transition(opacity 0.75s ease);
    }
  }

  &:after {
    content: '';
    display: inline-block;
    padding-top: 100%;
  }

  @include media($tablet){
    width: calc(100% / 3);
  }

  @include media($desktop){
    width: 25%;
  }
}

.feed-item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: inset 0px 0px 65px 15px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 65px 15px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 65px 15px rgba(0,0,0,0.75);
}

.feed-controls {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.07) 6%, rgba(0,0,0,0.57) 29%, rgba(0,0,0,0.66) 42%, rgba(0,0,0,0.8) 58%, rgba(0,0,0,0.93) 85%, rgba(0,0,0,0.95) 89%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 6%,rgba(0,0,0,0.57) 29%,rgba(0,0,0,0.66) 42%,rgba(0,0,0,0.8) 58%,rgba(0,0,0,0.93) 85%,rgba(0,0,0,0.95) 89%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 6%,rgba(0,0,0,0.57) 29%,rgba(0,0,0,0.66) 42%,rgba(0,0,0,0.8) 58%,rgba(0,0,0,0.93) 85%,rgba(0,0,0,0.95) 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 4em 2em 1.5em 2em;
  text-align: center;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);

  > * {
    margin: 0.5em;
  }

  @include media($tablet){
    @include flex-direction(row);
    padding: 4em 4em 1.5em 4em;
  }

}
