$max-width: 100%;
$tablet: min-width 450px;
$desktop: min-width 769px;

body {
  background: black;
  color: white;
  @include outer-container;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
}

.nasa-logo {
  width: 75px;
  margin: 10px;

  @include media($tablet) {
    width: 150px;
    margin: 20px;
  }
}

button {
  padding: 0.75em;
  margin-bottom: 0.75em;
  background: transparent;
  color: rgba(white, 0.85);
  text-transform: uppercase;
  font-size: 1.25em;
  font-family: sans-serif;
  letter-spacing: 3px;
  border: 2px solid rgba(white, 0.85);
  transition: all 0.5s ease;
  cursor: pointer;
  width: 100%;

  &:hover, &:focus {
    color: rgba(black,0.5);
    background: rgba(white, 0.85);
    transition: all 0.5s ease;
  }

  @include media($tablet){
    width: inherit;
  }
}

.photo-feed-list {
  @include display(flex);
  @include flex-flow(row wrap);
}

.feed-item {
  width: 50%;
  overflow: hidden;
  background-position: center center;
  position: relative;

  a {
    @include transition(opacity 0.75s ease);

    &:hover, &:focus {
      opacity: 0;
      @include transition(opacity 0.75s ease);
    }
  }

  &:after {
    content: '';
    display: inline-block;
    padding-top: 100%;
  }

  @include media($tablet){
    width: calc(100% / 3);
  }

  @include media($desktop){
    width: 25%;
  }
}

.feed-item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: inset 0px 0px 65px 15px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 65px 15px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 65px 15px rgba(0,0,0,0.75);
}

.feed-controls {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.07) 6%, rgba(0,0,0,0.57) 29%, rgba(0,0,0,0.66) 42%, rgba(0,0,0,0.8) 58%, rgba(0,0,0,0.93) 85%, rgba(0,0,0,0.95) 89%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 6%,rgba(0,0,0,0.57) 29%,rgba(0,0,0,0.66) 42%,rgba(0,0,0,0.8) 58%,rgba(0,0,0,0.93) 85%,rgba(0,0,0,0.95) 89%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 6%,rgba(0,0,0,0.57) 29%,rgba(0,0,0,0.66) 42%,rgba(0,0,0,0.8) 58%,rgba(0,0,0,0.93) 85%,rgba(0,0,0,0.95) 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 3em 2em 1.5em 2em;
  text-align: center;
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-around);
  @include flex-direction(column);

  @include media($tablet){
    @include flex-direction(row);
    padding: 2em 4em 1.5em 4em;
  }

}
